<!DOCTYPE html>
<html lang="en">
{% extends 'User/user_home.html' %}
<head>
    <meta charset="UTF-8">
    <title>View Feedback Response</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
{% block body %}
<h1 align="center" class="mt-4">VIEW FEEDBACK RESPONSE</h1>
<table border="3" align="center" class="table table-bordered table-hover w-75 mt-4"style="border-color: #3b3232">
    <tr>
        <td style="width: 8%;background-color: black;color: goldenrod">Serial No</td>
        <td style="width: 11%;background-color: black;color: goldenrod">Date</td>
        <td style="width: 5%;background-color: black;color: goldenrod">Name</td>
        <td style="width: 30%;background-color: black;color: goldenrod">feedback</td>
        <td style="width: 560px;background-color: black;color: goldenrod">Reply</td>
    </tr>
    {% for i in data %}
        <tr>
        <td style="background-color: black;color: goldenrod">{{ forloop.counter }}</td>
            <td style="background-color: black;color: goldenrod">{{ i.date }}</td>
        <td style="background-color: black;color: goldenrod">{{ i.USER.Firstname }}</td>
        <td style="background-color: black;color: goldenrod">{{ i.feedback }}</td>
        <td style="background-color: black;color: goldenrod">{{ i.reply }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
</html>